@import "base", "./elements/card-product", "./elements/star-ranking",
  "./elements/pagination", "./elements/breadcrumb";

#ProdBlock {
  display: none;
}

.grid-card-products {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  justify-items: center;
}

.search-word {
  font-size: 1.2rem;
  color: $dark900;
}

.filter-order {
  margin: 1rem 0;

  &__order_options-title {
    font-size: 1rem;
    color: $dark900;
    margin: 0.5rem 0;
  }

  select {
    padding: 0.8rem;
    border-radius: 8px;
    border: 1px solid #d3d3d3;
    width: 100%;
  }
}

@media screen and (min-width: 600px) {
  .grid-card-products {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .filter-order select {
    width: fit-content;
  }
}

@media screen and (min-width: 1024px) {
  @import "./elements/smart-filtes";

  // Barra lateral de filtros
  .wrapper-filters-products {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1rem;
  }

  .filter {
    grid-column: 1 / span 2;
  }

  .grid-card-products {
    grid-column: 3 / span 12;
  }
}

@media screen and (min-width: 1441px) {
  .grid-card-products {
    grid-template-columns: repeat(4, 1fr);
  }
}
