@import "base", "./elements/card-product", "./elements/star-ranking",
  "./elements/pagination", "./elements/breadcrumb";

#ProdBlock {
  display: none;
}

.grid-card-products {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.search-word {
  font-size: 1.2rem;
  color: $dark900;
}

.filter-order {
  margin: 1rem 0;

  &__order_options-title {
    font-size: 1rem;
    color: $dark900;
    margin: 0.5rem 0;
  }

  select {
    padding: 0.8rem;
    border-radius: 8px;
  }
}

@media screen and (min-width: 768px) {

  @import "./elements/smart-filtes";

  .wrapper-filters-products {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1rem;
  }

  .filter {
    grid-column: 1 / span 2;
  }

  .grid-card-products {
    grid-column: 3 / span 12;
  }

}
