{% set lojas = [
  {'id' : 's001', 
  'name' : 'Uberlândia', 
  'address': 'Rua Tupaciguara,274| B.Aparecida Uberlândia - MG', 
  'phone': '(34) 3257-0800', 
  'images': [
    'img/showroom/showroom-uberlandia-01.jpg',
    'img/showroom/showroom-uberlandia-02.jpg',
    'img/showroom/showroom-uberlandia-03.jpg',
    'img/showroom/showroom-uberlandia-04.jpg',
    'img/showroom/showroom-uberlandia-05.jpg', 
    'img/showroom/showroom-uberlandia-06.jpg',
    'img/showroom/showroom-uberlandia-07.jpg',
    'img/showroom/showroom-uberlandia-08.jpg',
    'img/showroom/showroom-uberlandia-09.jpg',
    'img/showroom/showroom-uberlandia-10.jpg',
    'img/showroom/showroom-uberlandia-11.jpg',
    'img/showroom/showroom-uberlandia-12.jpg',
    'img/showroom/showroom-uberlandia-13.jpg',
    'img/showroom/showroom-uberlandia-14.jpg',
  ],
  'map' : 'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3774.500125918502!2d-48.27423948476202!3d-18.90924458718372!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94a445ae2993223f%3A0x4bb2dcfc0c9bfdd2!2sR.%20Tupaciguara%2C%20274%20-%20Nossa%20Sra.%20Aparecida%2C%20Uberl%C3%A2ndia%20-%20MG%2C%2038400-629!5e0!3m2!1spt-BR!2sbr!4v1605645655523!5m2!1spt-BR!2sbr',
  'video' : ''
  },

  {'id' : 's002', 
  'name' : 'Belo Horizonte', 
  'address': 'Rua Bernardo Guimarães, 1893 | B. Lourdes, Belo Horizonte - MG', 
  'phone': '(31) 3508-8324', 
  'images': [
    'img/showroom/Showroom-belohorizonte-1.jpg', 
    'img/showroom/Showroom-belohorizonte-2.jpg',
    'img/showroom/Showroom-belohorizonte-3.jpg',
    'img/showroom/Showroom-belohorizonte-4.jpg',
    'img/showroom/Showroom-belohorizonte-5.jpg',
    'img/showroom/Showroom-belohorizonte-6.jpg',
    'img/showroom/Showroom-belohorizonte-7.jpg',
    'img/showroom/Showroom-belohorizonte-8.jpg',
    'img/showroom/Showroom-belohorizonte-9.jpg',
  ],
  'map' : 'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3750.8943668675515!2d-43.94438758453925!3d-19.928855743421348!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xa699dfc34d0cb9%3A0x71b23e5f9a8d6c2c!2sR.%20Bernardo%20Guimar%C3%A3es%2C%201893%20-%20Funcion%C3%A1rios%2C%20Belo%20Horizonte%20-%20MG%2C%2030140-081!5e0!3m2!1spt-BR!2sbr!4v1573477736160!5m2!1spt-BR!2sbr',
  'video' : 'https://www.youtube.com/embed/PGuQdC5E9oQ'
  },

  {'id' : 's005', 
  'name' : 'Rio de Janeiro', 
  'address': 'Rua Tirol, Nº 536 LJ 107 | B. Freguesia (Jacarepaguá), Rio de Janeiro - RJ', 
  'phone': '(21) 3512-0527', 
  'images': [
    'img/showroom/showroom-rio-1.jpg',
    'img/showroom/showroom-rio-2.jpg',
    'img/showroom/showroom-rio-3.jpg', 
    'img/showroom/showroom-rio-4.jpg',
    'img/showroom/showroom-rio-5.jpg',
    'img/showroom/showroom-rio-6.jpg',
    'img/showroom/showroom-rio-7.jpg',
    'img/showroom/showroom-rio-8.jpg',
    'img/showroom/showroom-rio-9.jpg',
    'img/showroom/showroom-rio-10.jpg',
    'img/showroom/showroom-rio-11.jpg',
    'img/showroom/showroom-rio-12.jpg',
  ],
  'map' : 'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3674.2766361329386!2d-43.33908538448711!3d-22.94003694482687!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9bd82fa7212699%3A0x9a3a6cb78038cf9e!2sR.%20Tirol%2C%20536%20-%20LJ%20107%20%7C%20B%20-%20Freguesia%20de%20Jacarepagu%C3%A1%2C%20Rio%20de%20Janeiro%20-%20RJ%2C%2022750-009!5e0!3m2!1spt-BR!2sbr!4v1573477872620!5m2!1spt-BR!2sbr',
  'video' : 'https://www.youtube.com/embed/UPpPBe_S9ZY'
  },

  {'id' : 's006', 
  'name' : 'São Paulo', 
  'address': 'Rua Panônia 461, Vila Sônia- Morumbi, CEP: 05629-010, São Paulo - SP', 
  'phone': '(11) 3014-0475', 
  'images': [
    'img/showroom/Showroom-sao-paulo-5.png',
    'img/showroom/Showroom-sao-paulo-1.jpeg', 
    'img/showroom/Showroom-sao-paulo-2.jpeg',
    'img/showroom/Showroom-sao-paulo-3.jpeg',
    'img/showroom/Showroom-sao-paulo-4.jpeg',
  ],
  'map' : 'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3655.9993962484573!2d-46.731063899999995!3d-23.6043546!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce56bedfb0309f%3A0xe784d0142db6326d!2sRua%20Pan%C3%B4nia%2C%20461%20-%20Jardim%20Colombo%2C%20S%C3%A3o%20Paulo%20-%20SP%2C%2005629-010!5e0!3m2!1spt-BR!2sbr!4v1664977128824!5m2!1spt-BR!2sbr',
  'video' : ''
  },
     
] %}

{# <pre>
  {{ dump(lojas) }}
</pre> #}

<div class="container">
  <section class="hero">
    <div>
      <h1>Nós temos uma Loja perto de você</h1>
      <p>Venha nos visitar e conhecer as nossas máquinas</p>
      <a href="https://mailchi.mp/31df438b5d88/agendamento-de-visita-showroom">AGENDAR VISITA</a>
    </div>
    <img src="{{ asset('img/showroom/capa-showroom-multivisi.png') }}" alt="showroom-multivisi" width="779" height="564"></section>
  </section>

  <section class="list">
    {% for loja in lojas %}
      <span data-id="{{ loja.id }}" onclick="getLoja(this)">
        <i class="bi bi-geo-alt"></i>
        {{ loja.name }}</span>
    {% endfor %}
  </section>

  {% for loja in lojas %}
    <section
      class="loja ocultar" id="{{loja.id}}">
      <!--uberlândia -->
      <div class="loja__box-container">
        <div class="swiper showroomSlider">
          <div class="swiper-wrapper">
            {% if loja.video %}
              <div class="swiper-slide">
                <iframe width="100%" height="315" src="{{ loja.video }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"></iframe>
              </div>
            {% endif %}
            {% for img in loja.images %}
              <div
                class="swiper-slide">
                {# <img data-src="{{ img }}" loading="lazy" class="swiper-lazy"/> #}
                <img data-src="{{ asset(img) }}" loading="lazy" class="swiper-lazy"/>
              </div>
            {% endfor %}
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-pagination"></div>
        </div>
        <div class="loja__info-contact">
          <h3>
            <i class="bi bi-house"></i>
            Endereço</h3>
          <p>{{ loja.address }}</p>
          <h3>
            <i class="bi bi-telephone"></i>
            Contato</h3>
          <p>{{ loja.phone }}</p>
        </div>
      </div>
      <!-- mapa -->
      <div class="map">
        <iframe src="{{ loja.map }}" width="100%" height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0" loading="lazy"></iframe>
      </div>
    </section>
  {% endfor %}

</div>
