{% element 'snippets/breadcrumb' %}

{% element 'snippets/modal-payment-methods' %}

{# <pre>
  {{ dump(product) }}
</pre> #}

<section class="container">
  <div class="product_container">
    {# Slider fotos e vídeo do produto #}
    <div>
      <div class="swiper productSlider">
        <div class="swiper-wrapper">
          {% if product.video %}
              <div class="swiper-slide">
                <iframe class="swiper-lazy" data-src="{{ product.video }}" loading="lazy" frameborder="0" width="100%" height="500" allowfullscreen></iframe>
              </div>
          {% endif %}
          {% for image in product.images %}
            <div class="swiper-slide">
              {% set lazyIndex = loop.index == 1 ? false : true %}
              <img class="swiper-lazy" data-src="{{ image.full }}" alt="{{ product.name }}" width="700" height="700" loading="{{ lazyIndex ? 'lazy' : 'eager' }}">
              <div class="swiper-lazy-preloader"></div>
            </div>
          {% endfor %}
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>

      <div thumbsSlider="" class="swiper thumbsSlider">
        <div class="swiper-wrapper">
          {% if product.video %}
            <div class="swiper-slide">
              <i class="bi bi-play-fill" style="font-size: 4rem; color: #f00"></i>
            </div>
          {% endif %}
          {% for image in product.images %}
            <div class="swiper-slide">
              <img src="{{ image.medium }}" alt="{{ product.name }}" width="90" height="90">
            </div>
          {% endfor %}
        </div>
      </div>
    </div>

    {# Informações de compra do produto #}
    <div class="product">

      <div class="prod-star" style="height: 20px">
        <div id="yv-review-quickreview"></div>
      </div>
      {# {% element 'snippets/star_ranking' { review: product.ranking } %} #}

      {% if product.available == 0 %}
        <p style="font-weight: bold; color: red">PRODUTO INDISPONÍVEL</p>
      {% endif %}

      <h1 class="product__name">{{ product.name }}</h1>

      <p class="product__brand">
        {{ "Marca: " ~ product.brand ~ " - Cod: " ~ product.id ~ " | " }}
        <span data-availability="{{ product.availability }}">{{ product.availability }}</span>
      </p>

      {% if product.price_offer > 0 %}
        <s>{{ "R$ " ~ product.product_price|currency }}</s>
        <span class="product__offer">-{{ ((product.price - product.payment_option_details[0].value) /
         product.price * 100)|number_format }}%</span>
      {% endif %}

      <p class="product__price">
        <span>{{ "R$ " ~ product.minimum_price|currency }}</span>
        <br/>
        à vista no boleto, transferência bancária ou PIX
      </p>

      <p>
        <i class="bi bi-credit-card"></i> 
        {{ "R$ " ~ product.calculated_price|currency }} 
        {{ "em " ~ product.payment_option_details[2].plots ~ "x"}} 
        {{ "de R$ " ~ product.payment_option_details[2].value|currency ~ " sem juros no cartão de crédito"}} 
      </p>

      <p class="product__modal-payment">Ver mais formas de pagamento</p>

      <form action="{{ links.cart_add ~ product.id }}" method="POST" name="cartAdd">
        {% if product.variants %}
          <input type="hidden" id="variant" name="variacao" value=""/>
          <p class="product__variant_title">
            {{ product.variants[0].Sku[0].type }}
          </p>

          {% for variant in product.variants %}
            {% if variant.stock > 0 %}
              <div data-variant="{{ variant.id }}" onclick="capturarVariante(this)" class="product__variant_options">
                <p>{{ variant.Sku[0].value }}</p>
              </div>
            {% endif %}
          {% endfor %}
        {% endif %}

        <div>
          <div>
            <label class="product_qtd">
              <span>Quantidade </span>
              <input id="quant" type="text" name="quant" value="1" maxlength="3" style="width: 80px"/>
            </label>
          </div>

          <div>
            <button class="product__buy" type="submit" value="Comprar agora" onclick="return validaSeSelecionouVariante()">
              <i class="bi bi-cart2" style="font-size: 1.5rem;"></i>
              Comprar agora
            </button>
          </div>
        </div>
      </form>

      {% if product.warranty %}
        <p>
          <i class="bi bi-patch-check"></i>
          Garantia de
          {{ product.warranty }}
        </p>
      {% endif %}
      <hr/>

     {% element ('snippets/product-shipping') %}
    </div>

  </div>
</section>

{# Descrição do produto #}
<section class="container">
  <div class="product_description">
    <h2 class="product_description__title">
      <i class="bi bi-card-list"></i>
      Descrição do produto
    </h2>
    {{ product.description }}
  </div>
</section>

{# Produtos Similares #}
<section class="related_products">
  <div class="container">
    <h2 class="related_products__title">
      <i class="bi bi-bag"></i>
      Produtos Similares
    </h2>
    <div class="related_products__container">
      {% for item in product.related_products %}
        {% element 'snippets/product' {
      product: item, loading : 'lazy' } %}
      {% endfor %}
    </div>
  </div>
</section>

{% element "snippets/product-reviews" %}

{# <pre>
  {{ dump(productTabs.custom.content) }}
</pre> #}
