{# <pre>
  {{ dump(search) }}
</pre> #}
<div class="container">
  {% if search.word %}
    <br/>
    <h5 class="search-word">Resultados para a busca:
      <strong>
        "{{ search.word }}"</strong>
    </h5>
  {% endif %}

  <form name="form-filter" method="get" data-form="filter" class="filter-order">
    <input type="hidden" name="loja" value="{{ store.id }}"/>

    {% if search.word %}
      <input name="palavra_busca" type="hidden" value="{{ search.word }}"/>
    {% endif %}
   
    {% if search.order_options %}
        <h3 class="filter-order__order_options-title">Ordenar por:</h3>
        <select name="order" onchange="this.form.submit()">
            {% for option in search.order_options %}
                <option value="{{ option.value }}">{{ option.name }}</option>
            {% endfor %}
        </select>
    {% endif %}
    
  </form>
</div>

{% if products|length > 0 %}
  <div class="container grid-card-products">
    {% for item in products %}
    {% set lazyIndex = loop.index == 1 ? "eager" : "lazy" %} 
        {% element 'snippets/product' { product: item, loading : lazyIndex} %}
    {% endfor %}
  </div>
{% endif %}

{% element ('snippets/pagination') %}
