
<!DOCTYPE html>
<html
  lang="{{ tray.lang == 'pt' ? 'pt-BR' : tray.lang }}"
  data-theme-name="{{ settings.theme_name }}"
  data-theme-version="{{ settings.theme_version }}"
  data-files="{{ utils.assets_version }}"
  data-store="{{ store.id }}"
  class="page-{{ pages.current }}"
>
  <head>
    {% spaceless %} 
    <!-- tray charset -->
    {{ html.charset() }}
    <meta http-equiv="X-UA-Compatible" content="IE=edge" >
    <meta name="viewport" content="width=device-width, initial-scale=1" >

    <!-- tray meta tags -->
    {{ tray.meta }}

    <!-- tray styles -->
    {{ tray.styles }}

    <!-- Reset -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
      type="text/css"
    />

    <!-- Fontes -->
    <link rel="preconnect" href="https://fonts.googleapis.com" >
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin >
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">

    {# Melhora LCP nos banners home #}
    <link rel="preconnect" href="{{ banners.mobile.slides[0].image }}">
    <link rel="preconnect" href="{{ banners.home.slides[0].image }}">

    {% if utils.is_mobile %}
    <link rel="stylesheet" href="{{ asset('css/header-mobile.css')}}">
    {% else %}
    <link rel="stylesheet" href="{{ asset('css/header.css')}}">
    {% endif %}

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" type="text/css">

    {% if pages.current == 'home' %}
    <link rel="stylesheet" href="{{ asset('css/home.css') }}" type="text/css">
    {% endif %} 
    
    {% if pages.current in ['search', 'catalog'] %}
    <link rel="stylesheet" href="{{ asset('css/search.css') }}" type="text/css">
    {% endif %} 
    
    {% if pages.current == 'product' %}
    <link rel="stylesheet" href="{{ asset('css/product.css') }}" type="text/css">
    {% endif %}

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">

    {% if pages.current == 'showroom' %}
      <link rel="stylesheet" href="{{ asset('css/showroom.css')}}">
    {% endif %}

    {% if pages.current == 'quem-somos' %}
      <link rel="stylesheet" href="{{ asset('css/quem-somos.css')}}">
    {% endif %}

    {% if pages.current == 'contact' %}
      <link rel="stylesheet" href="{{ asset('css/contact.css')}}">
    {% endif %}

    {% if pages.current == 'register' %}
       <link rel="stylesheet" href="{{ asset('css/cadastro.css')}}">
    {% endif %}
       
   <link rel="stylesheet" href="{{ asset('css/footer.css') }}"> 
    {{ tray.analytics }}    
    {{ googleTagManager.header(pages.current, tagManagerData) }}
    {% endspaceless %}
  </head>

  <body>    
    {% spaceless %} 
    {% element 'snippets/messages' %} 
    {{ googleTagManager.top(pages.current, tagManagerData) }}    

    {% element 'header' %} 
    <main> 
      {{ content_for_layout }}
      {% if pages.current in ['showroom', 'politica-de-cookies', 'quem-somos', 'contact', 'ajuda' ] %}      
        {% element pages.current %}
      {% endif %}
    </main>   
    {% element 'footer' %}
    {% element 'snippets/cookies_banner' %}

    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <script src="{{ asset('js/swiper.js')}}"></script>

    <!-- Rd Station -->
    <script async src="https://d335luupugsy2.cloudfront.net/js/loader-scripts/7afc2a8f-0433-42f5-b6a4-0ff4a44cc6a1-loader.js"></script>

    <!-- Página produto -->
    {% if pages.current == 'product' %}
    <script async src="{{ asset('js/product.js')}}"></script>
    {% endif %} 
     
    <!-- Menu mobile -->
    {% if utils.is_mobile %}
    <script async src="{{ asset('js/modules/menu-mobile.js')}}"></script>
    {% endif %}   

    {% if pages.current == 'showroom' %}
    <script async src="{{ asset('js/showroom.js')}}"></script> 
    {% endif %}  

    <script async src="{{ asset('js/modules/theme.js')}}"></script>

    <!-- default tray -->
    {{ tray.scripts }}
    {% element 'snippets/modal' %}  
    {% element 'snippets/pageview' %} 
    {{ googleTagManager.bottom(pages.current, tagManagerData) }}   

    {% endspaceless %}
  </body>
</html>
