.breadcrumb { 
  display: flex;
  overflow-x: auto;
  padding: 1rem 0;
  font-size: .9rem;

  &__item {
    color: #416788;
    white-space: nowrap;
  }

  &__icon {
    color: #416788;
  }

  a {
    color: #416788;
    text-decoration: none;

    &:hover {
      color: #003ce5;
    }
  }
}
