.search-counter {
  display: block;
  text-align: center;
  margin-top: 1rem;
  color: $dark900;
}

.paginate-links {
  display: block;
  text-align: center;
  font-size: 1.2rem;
  margin: 1.5rem 0;

  .page-link {
    margin: 0 2px;
    a {
      text-decoration: none;
      padding: 0.6rem;
      border-radius: 10px;
      color: $dark900;

      &:hover {
        background-color: #e0e0e0;
        color: $bluePrimary;
      }
    }
  }

  .page-current {
    padding: 0.6rem;
    color: $bluePrimary;
    font-weight: bold;
  }
}

@media screen and(min-width: 768px) {
  .paginate-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }
  .search-counter {
    grid-column: 3 / span 12;
  }
  .paginate-links {
    grid-column: 3 / span 12;
  }
}