.yourviews {
  
  &__title {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    color: $bluePrimary;
    margin: 1.5rem 0;
  }

}

.bootstrap  {
  border-radius: 15px;
  padding: 1rem;
}

.yv-btn-primary, .yv-btn-info {
  background: $bluePrimary !important;
  border-radius: 16px;
}

