{% if utils.is_mobile %}

<div class="swiper banner-home">
  <div class="swiper-wrapper">
    {% for slide in banners.mobile.slides %}
    {% set lazyIndex = loop.index == 1 ? "eager" : "lazy" %}
    <div class="swiper-slide">
      <a href="{{ slide.link }}" target="{{ slide.target }}">
        <img
          class="swiper-lazy"
          data-src="{{ slide.image }}"
          alt="{{ slide.label }}"
          width="{{ slide.width }}"
          height="{{ slide.height }}"
          loading="{{ lazyIndex }}"
        >
        <div class="swiper-lazy-preloader"></div>
      </a>
    </div>
    {% endfor %}
  </div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-pagination"></div>
</div>

{% else %} {# Desktop #}

<div class="swiper banner-home">
  <div class="swiper-wrapper">
    {% for slide in banners.home.slides %}
    {% set lazyIndex = loop.index == 1 ? "eager" : "lazy" %}
    <div class="swiper-slide">
      <a href="{{ slide.link }}" target="{{ slide.target }}">
        <img
          class="swiper-lazy"
          data-src="{{ slide.image }}"
          alt="{{ slide.label }}"
          width="{{ slide.width }}"
          height="{{ slide.height }}"
          loading="{{ lazyIndex }}"
        >
        <div class="swiper-lazy-preloader"></div>
      </a>
    </div>
    {% endfor %}
  </div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-pagination"></div>
</div>

{% endif %}
